<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>
    <header>
      <div class="header-menu">
        <ul>
          <% if @current_user %>

          <li><%= link_to("/users/index") do %>
          <img src="/icon_images/index.png">
          <p>Index</p></li><% end %>

          <li><%= link_to("/posts/new") do %>
          <img src="/icon_images/tweet.png">
          <p>Tweet</p></li><% end %>

          <li><%= link_to("/logout", {method: "post"}) do %>
          <img src="/icon_images/logout.png">
          <p>Logout</p>
          <% end %></li>

          <% else %>


          <li><%= link_to("/") do %>
          <img src="/icon_images/home.png">
          <% end %><p>Home</p></li>

          

          <li class="new-create"><img src="/icon_images/create.png"><p>Signup</p></li>

          <li><%= link_to("/login") do %>
          <img src="/icon_images/login.png">
          <p>Login</p>
          <% end %></li>

          <% end %>

          

          
        </ul>
      </div>
    </header>
    <% if flash[:notice] %>
    <div class="flash-message">
      <%= flash[:notice] %>
      <% end %>
    </div>
      
    <%= yield %>
  </body>
</html>
